html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background: #272882;
  position: fixed;
  z-index: 999;
  width: 99.9%;
  height: 65px;
  line-height: 65px;
}
nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .wrapper .logo a {
  text-decoration: none;
  color: white;
  font-size: 27px;
  font-weight: 600;
}
nav .wrapper .nav-links {
  display: inline-flex;
  padding: 1px 250px;
}
nav .wrapper .nav-links li {
  list-style: none;
}
nav .wrapper .nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
nav .wrapper .nav-links li .drop-menu {
  background: rgb(87, 87, 223);
  width: 200px;
  height: 300px;
  top: 65px;
  line-height: 45px;
  position: absolute;
  opacity: 1;
  visibility: hidden;
}
nav .wrapper .nav-links li .drop-menu .drop-menu-link a {
  width: 100%;
  display: block;
  position: 0 0 0 15px;
  max-width: 100px;
  font-weight: 400;
}
nav .wrapper .nav-links li:hover .drop-menu {
  opacity: 1;
  visibility: visible;
}

.section {
  height: 130vh;
  width: 100%;
  background: #272882;
}
.section .section-main {
  display: flex;
  justify-content: space-around;
}
.section .section-main .section-flet {
  position: relative;
  top: 200px;
  left: 200px;
  width: 40%;
}
.section .section-main .section-flet .section-title {
  margin-left: 150px;
  background-color: rgb(226, 224, 224);
  width: 300px;
  height: 300px;
  border-radius: 100%;
  opacity: 0.1;
  position: absolute;
  left: -150px;
}
.section .section-main .section-flet .section-titles {
  margin-left: 120px;
  background-color: rgb(226, 224, 224);
  width: 350px;
  height: 340px;
  border-radius: 100%;
  opacity: 0.1;
  position: absolute;
  left: -145px;
  top: -20px;
}
.section .section-main .section-flet .section-img {
  width: 300px;
  opacity: 0.8;
  transition: 1s ease-out;
}
.section .section-main .section-flet .section-imgs {
  width: 300px;
  position: relative;
  top: -250px;
}
.section .section-main .section-flet:hover .section-img {
  transform: rotate(1turn);
}
.section .section-main .section-right {
  position: relative;
  top: 300px;
  left: 100px;
  width: 60%;
}
.section .section-main .section-right h3 {
  color: white;
  max-width: 600px;
  text-align: center;
}
.section .section-main .section-right .section-right-btn {
  display: flex;
  flex-direction: column;
}
.section .section-main .section-right .section-right-btn .btn-default {
  background-color: rgb(41, 216, 41);
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px 180px;
}
.section .section-main .section-right .section-right-btn .btn-primary {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px 180px;
}

.content {
  height: 500%;
  width: 100%;
}
.content .content-main .content-language {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-language img {
  width: 350px;
}
.content .content-main .content-language .content-language-text {
  width: 60%;
  margin-top: 50px;
}
.content .content-main .content-language .content-language-text h4 {
  flex: 1;
}
.content .content-main .content-language .content-language-text p {
  flex: 1;
  max-width: 750px;
}
.content .content-main h4 {
  margin-top: 50px;
  text-align: center;
}
.content .content-main .content-learn {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-learn .content-learn-text {
  max-width: 400px;
  margin-left: 60px;
}
.content .content-main .content-learn img {
  width: 300px;
}
.content .content-main .content-learn .content-learn-texts {
  max-width: 400px;
  margin-right: 60px;
}
.content .content-main .content-speed {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-speed img {
  width: 250px;
}
.content .content-main .content-speed .content-language-text {
  width: 60%;
  margin-top: 50px;
}
.content .content-main .content-speed .content-language-text h4 {
  flex: 1;
  text-align: left;
}
.content .content-main .content-speed .content-language-text p {
  flex: 1;
  max-width: 750px;
}
.content .content-main .content-speed .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}
.content .content-main .content-anywhere {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-anywhere .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-anywhere .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-anywhere img {
  width: 250px;
}
.content .content-main .content-schools {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-schools img {
  width: 300px;
}
.content .content-main .content-schools .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-schools .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-schools .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}
.content .content-main .content-test {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-test img {
  width: 300px;
}
.content .content-main .content-test .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-test .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-test .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}
.content .content-main .content-effectively {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-effectively img {
  width: 250px;
}
.content .content-main .content-effectively .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-effectively .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-effectively .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 63.9375em) {
  .section {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  nav .wrapper .logo {
    position: relative;
    top: -8px;
  }
  nav .wrapper .logo a {
    font-size: 16px;
  }
  nav .wrapper .nav-links {
    position: relative;
    left: -15px;
    padding: 0 150px;
  }
  nav .wrapper .nav-links li a {
    font-size: 12px;
  }
  .section-main {
    flex-direction: column;
    width: 100%;
  }
  .section-main .section-right h3 {
    font-size: 15px;
    position: relative;
    left: -20px !important;
  }
  .section-main .section-right .section-right-btn {
    position: relative;
    left: -50px !important;
  }
  .content .content-main .content-language {
    flex-direction: column;
  }
  .content .content-main .content-language img {
    margin: auto;
  }
  .content .content-main .content-language .content-language-text {
    margin: auto;
  }
  .content .content-main .content-learn {
    flex-direction: column;
  }
  .content .content-main .content-learn .content-learn-text {
    margin: auto;
  }
  .content .content-main .content-learn img {
    margin: auto;
  }
  .content .content-main .content-learn .content-learn-texts {
    margin: auto;
  }
  .content .content-main .content-speed {
    flex-direction: column;
  }
  .content .content-main .content-speed img {
    margin: auto;
  }
  .content .content-main .content-speed .content-language-text {
    margin: auto;
  }
  .content .content-main .content-anywhere {
    flex-direction: column;
  }
  .content .content-main .content-anywhere img {
    margin: auto;
  }
  .content .content-main .content-anywhere .content-language-text {
    margin: auto;
  }
  .content .content-main .content-schools {
    flex-direction: column;
  }
  .content .content-main .content-schools img {
    margin: auto;
  }
  .content .content-main .content-schools .content-language-text {
    margin: auto;
  }
  .content .content-main .content-test {
    flex-direction: column;
  }
  .content .content-main .content-test img {
    margin: auto;
  }
  .content .content-main .content-test .content-language-text {
    margin: auto;
  }
  .content .content-main .content-effectively {
    flex-direction: column;
  }
  .content .content-main .content-effectively img {
    margin: auto;
  }
  .content .content-main .content-effectively .content-language-text {
    margin: auto;
  }
}
@media screen and (max-width: 740px) {
  nav .wrapper .logo {
    position: relative;
    top: -8px;
  }
  nav .wrapper .logo a {
    font-size: 16px;
  }
  nav .wrapper .nav-links {
    position: relative;
    left: -15px;
    padding: 0 150px;
  }
  nav .wrapper .nav-links li a {
    font-size: 12px;
  }
  .section-main {
    flex-direction: column;
  }
  .section-main .section-flet {
    width: 50%;
  }
  .section-main .section-flet .section-title {
    display: none;
  }
  .section-main .section-flet .section-titles {
    display: none;
  }
  .section-main .section-flet .section-img {
    position: absolute;
    left: -150px;
    top: -60px;
  }
  .section-main .section-flet .section-imgs {
    position: absolute;
    left: -150px;
    top: 0 !important;
  }
  .section-main .section-right h3 {
    font-size: 16px;
    position: relative;
    left: -20px !important;
  }
  .section-main .section-right .section-right-btn {
    position: relative;
    left: -30px !important;
  }
  .section-main .section-right .section-right-btn .btn-default {
    margin: 10px 10px !important;
  }
  .section-main .section-right .section-right-btn .btn-primary {
    margin: 10px 10px !important;
  }
  .content .content-main .content-language {
    flex-direction: column;
  }
  .content .content-main .content-language img {
    margin: auto;
  }
  .content .content-main .content-language .content-language-text {
    margin: auto;
  }
  .content .content-main .content-learn {
    flex-direction: column;
  }
  .content .content-main .content-learn .content-learn-text {
    margin: auto;
  }
  .content .content-main .content-learn img {
    margin: auto;
  }
  .content .content-main .content-learn .content-learn-texts {
    margin: auto;
  }
  .content .content-main .content-speed {
    flex-direction: column;
  }
  .content .content-main .content-speed img {
    margin: auto;
  }
  .content .content-main .content-speed .content-language-text {
    margin: auto;
  }
  .content .content-main .content-anywhere {
    flex-direction: column;
  }
  .content .content-main .content-anywhere img {
    margin: auto;
  }
  .content .content-main .content-anywhere .content-language-text {
    margin: auto;
  }
  .content .content-main .content-schools {
    flex-direction: column;
  }
  .content .content-main .content-schools img {
    margin: auto;
  }
  .content .content-main .content-schools .content-language-text {
    margin: auto;
  }
  .content .content-main .content-test {
    flex-direction: column;
  }
  .content .content-main .content-test img {
    margin: auto;
  }
  .content .content-main .content-test .content-language-text {
    margin: auto;
  }
  .content .content-main .content-effectively {
    flex-direction: column;
  }
  .content .content-main .content-effectively img {
    margin: auto;
  }
  .content .content-main .content-effectively .content-language-text {
    margin: auto;
  }
}
@media screen and (min-width: 740px) and (max-width: 1024px) {
  nav .wrapper .logo {
    position: relative;
    top: -8px;
  }
  nav .wrapper .logo a {
    font-size: 16px;
  }
  nav .wrapper .nav-links {
    position: relative;
    left: -15px;
    padding: 0 150px;
  }
  nav .wrapper .nav-links li a {
    font-size: 12px;
  }
  .section-main {
    flex-direction: column;
  }
  .section-main .section-flet {
    width: 100%;
  }
  .section-main .section-right {
    width: 100%;
    padding-left: 40px;
  }
  .section-main .section-right h3 {
    font-size: 24px;
    margin-left: 20px;
    position: relative;
    top: -100px;
  }
  .section-main .section-right .section-right-btn {
    position: relative;
    left: -90px;
    top: -100px;
  }
  .content .content-main .content-language img {
    margin: auto;
  }
  .content .content-main .content-language .content-language-text {
    margin: auto;
  }
  .content .content-main .content-learn {
    flex-direction: column;
  }
  .content .content-main .content-learn .content-learn-text {
    margin: auto;
    width: 100%;
  }
  .content .content-main .content-learn img {
    margin: auto;
  }
  .content .content-main .content-learn .content-learn-texts {
    margin: auto;
  }
  .content .content-main .content-speed img {
    margin: auto;
  }
  .content .content-main .content-speed .content-language-text {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */