$ptimary-color: white;
$secondary-color: #272882;
$small: 768px;
$smalls: 567px;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background: $secondary-color;
  position: fixed;
  z-index: 999;
  width: 99.9%;
  height: 65px;
  line-height: 65px;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      a {
        text-decoration: none;
        color: $ptimary-color;
        font-size: 27px;
        font-weight: 600;
      }
    }
    .nav-links {
      display: inline-flex;
      padding: 1px 250px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $ptimary-color;
          font-size: 18px;
          font-weight: 500;
        }
        .drop-menu {
          background: rgb(87, 87, 223);
          width: 200px;
          height: 300px;
          top: 65px;
          line-height: 45px;
          position: absolute;
          opacity: 1;
          visibility: hidden;
          .drop-menu-link {
            a {
              width: 100%;
              display: block;
              position: 0 0 0 15px;
              max-width: 100px;
              font-weight: 400;
            }
          }
        }
      }
    }
    .nav-links li:hover .drop-menu {
      opacity: 1;
      visibility: visible;
    }
  }
}

.section {
  height: 130vh;
  width: 100%;
  background: $secondary-color;
  .section-main {
    display: flex;
    justify-content: space-around;
    .section-flet {
      position: relative;
      top: 200px;
      left: 200px;
      width: 40%;
      .section-title {
        margin-left: 150px;
        background-color: rgb(226, 224, 224);
        width: 300px;
        height: 300px;
        border-radius: 100%;
        opacity: 0.1;
        position: absolute;
        left: -150px;
      }
      .section-titles {
        margin-left: 120px;
        background-color: rgb(226, 224, 224);
        width: 350px;
        height: 340px;
        border-radius: 100%;
        opacity: 0.1;
        position: absolute;
        left: -145px;
        top: -20px;
      }
      .section-img {
        width: 300px;
        opacity: 0.8;
        transition: 1s ease-out;
      }
      .section-imgs {
        width: 300px;
        position: relative;
        top: -250px;
      }
    }
    .section-flet:hover .section-img {
      transform: rotate(1turn);
    }
    .section-right {
      position: relative;
      top: 300px;
      left: 100px;
      width: 60%;
      h3 {
        color: $ptimary-color;
        max-width: 600px;
        text-align: center;
      }
      .section-right-btn {
        display: flex;
        flex-direction: column;
        .btn-default {
          background-color: rgb(41, 216, 41);
          width: 250px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin: 20px 180px;
        }
        .btn-primary {
          width: 250px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          margin: 10px 180px;
        }
      }
    }
  }
}

.content {
  height: 500%;
  width: 100%;
  .content-main {
    .content-language {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      border-bottom: 0.5px solid rgb(201, 198, 198);
      img {
        width: 350px;
      }
      .content-language-text {
        width: 60%;
        margin-top: 50px;

        h4 {
          flex: 1;
        }
        p {
          flex: 1;
          max-width: 750px;
        }
      }
    }
    h4 {
      margin-top: 50px;
      text-align: center;
    }
    .content-learn {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
      border-bottom: 0.5px solid rgb(201, 198, 198);
      .content-learn-text {
        max-width: 400px;
        margin-left: 60px;
      }
      img {
        width: 300px;
      }
      .content-learn-texts {
        max-width: 400px;
        margin-right: 60px;
      }
    }
    .content-speed {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      padding-bottom: 50px;
      border-bottom: 0.5px solid rgb(201, 198, 198);
      img {
        width: 250px;
      }
      .content-language-text {
        width: 60%;
        margin-top: 50px;
        h4 {
          flex: 1;
          text-align: left;
        }
        p {
          flex: 1;
          max-width: 750px;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
    .content-anywhere {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      padding-bottom: 50px;
      border-bottom: 0.5px solid rgb(201, 198, 198);
      .content-language-text {
        width: 60%;
        margin-top: 50px;
        max-width: 750px;
        h4 {
          margin-left: 0;
          text-align: left;
        }
      }
      img {
        width: 250px;
      }
    }
    .content-schools {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      padding-bottom: 50px;
      border-bottom: 0.5px solid rgb(201, 198, 198);
      img {
        width: 300px;
      }
      .content-language-text {
        width: 60%;
        margin-top: 50px;
        max-width: 750px;
        h4 {
          margin-left: 0;
          text-align: left;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
    .content-test {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      padding-bottom: 50px;
      border-bottom: 0.5px solid rgb(201, 198, 198);
      img {
        width: 300px;
      }
      .content-language-text {
        width: 60%;
        margin-top: 50px;
        max-width: 750px;
        h4 {
          margin-left: 0;
          text-align: left;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
    .content-effectively {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      padding-bottom: 50px;
      border-bottom: 0.5px solid rgb(201, 198, 198);
      img {
        width: 250px;
      }
      .content-language-text {
        width: 60%;
        margin-top: 50px;
        max-width: 750px;
        h4 {
          margin-left: 0;
          text-align: left;
        }
        a {
          text-decoration: none;
          font-weight: 600;
        }
      }
    }
  }
}

// Mobile & tablet: width < 1024px
@media screen and(max-width: 63.9375em) {
  .section {
    flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  nav {
    .wrapper {
      .logo {
        position: relative;
        top: -8px;
        a {
          font-size: 16px;
        }
      }
      .nav-links {
        position: relative;
        left: -15px;
        padding: 0 150px;
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  .section-main {
    flex-direction: column;
    width: 100%;
    .section-right {
      h3 {
        font-size: 15px;
        position: relative;
        left: -20px !important;
      }
      .section-right-btn {
        position: relative;
        left: -50px !important;
      }
    }
  }

  .content {
    .content-main {
      .content-language {
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-learn {
        flex-direction: column;
        .content-learn-text {
          margin: auto;
        }
        img {
          margin: auto;
        }
        .content-learn-texts {
          margin: auto;
        }
      }
      .content-speed {
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-anywhere{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-schools{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-test{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-effectively{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
    }
  }
}

// Mobile: width < 740px
@media screen and (max-width: 740px) {
  nav {
    .wrapper {
      .logo {
        position: relative;
        top: -8px;
        a {
          font-size: 16px;
        }
      }
      .nav-links {
        position: relative;
        left: -15px;
        padding: 0 150px;
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  .section-main {
    flex-direction: column;
    .section-flet {
      width: 50%;
      .section-title {
        display: none;
      }
      .section-titles {
        display: none;
      }
      .section-img {
        position: absolute;
        left: -150px;
        top: -60px;
      }
      .section-imgs {
        position: absolute;
        left: -150px;
        top: 0 !important;
      }
    }
    .section-right {
      h3 {
        font-size: 16px;
        position: relative;
        left: -20px !important;
      }
      .section-right-btn {
        position: relative;
        left: -30px !important;
        .btn-default {
          margin: 10px 10px !important;
        }
        .btn-primary {
          margin: 10px 10px !important;
        }
      }
    }
  }

  .content {
    .content-main {
      .content-language {
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-learn {
        flex-direction: column;
        .content-learn-text {
          margin: auto;
        }
        img {
          margin: auto;
        }
        .content-learn-texts {
          margin: auto;
        }
      }
      .content-speed {
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-anywhere{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-schools{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-test{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-effectively{
        flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
    }
  }
}

// Teblet: width >= 740px and width < 1024px
@media screen and (min-width: 740px) and (max-width: 1024px) {
  nav {
    .wrapper {
      .logo {
        position: relative;
        top: -8px;
        a {
          font-size: 16px;
        }
      }
      .nav-links {
        position: relative;
        left: -15px;
        padding: 0 150px;
        li {
          a {
            font-size: 12px;
          }
        }
      }
    }
  }

  .section-main {
    flex-direction: column;
    .section-flet {
      width: 100%;
    }
    .section-right {
      width: 100%;
      padding-left: 40px;
      h3 {
        font-size: 24px;
        margin-left: 20px;
        position: relative;
        top: -100px;
      }
      .section-right-btn {
        position: relative;
        left: -90px;
        top: -100px;
      }
    }
  }

  .content {
    .content-main {
      .content-language {
        // flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
      .content-learn {
        flex-direction: column;
        .content-learn-text {
          margin: auto;
          width: 100%;
        }
        img {
          margin: auto;
        }
        .content-learn-texts {
          margin: auto;
        }
      }
      .content-speed {
        // flex-direction: column;
        img {
          margin: auto;
        }
        .content-language-text {
          margin: auto;
        }
      }
    }
  }
}
