html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: visible;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  background: #272882;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 65px;
  line-height: 65px;
  display: flex;
  background-size: cover;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.wrapper .logo a {
  text-decoration: none;
  color: white;
  font-size: 27px;
  font-weight: 600;
}
.wrapper .nav-links {
  display: inline-flex;
  padding: 1px 250px;
}
.wrapper .nav-links li {
  list-style: none;
}
.wrapper .nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.wrapper .nav-links li .drop-menu {
  background: rgb(87, 87, 223);
  width: 200px;
  height: 300px;
  top: 65px;
  line-height: 45px;
  position: absolute;
  opacity: 1;
  visibility: hidden;
}
.wrapper .nav-links li .drop-menu .drop-menu-link a {
  width: 100%;
  display: block;
  position: 0 0 0 15px;
  max-width: 100px;
  font-weight: 400;
}
.wrapper .nav-links li:hover .drop-menu {
  opacity: 1;
  visibility: visible;
}

.section {
  height: 100%;
  background: #272882;
  width: 100%;
}
.section .section-main {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 200px;
}
.section .section-main .section-flet .section-title {
  background-color: rgb(226, 224, 224);
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-left: 120px;
}
.section .section-main .section-flet .section-titles {
  background-color: rgb(226, 224, 224);
  width: 350px;
  height: 340px;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 95px;
  z-index: 0;
  opacity: 0.8;
}
.section .section-main .section-flet .section-img {
  width: 300px;
  position: relative;
  top: -300px;
  left: 120px;
}
.section .section-main .section-flet .section-imgs {
  width: 300px;
  position: relative;
  top: -300px;
  left: -180px;
}
.section .section-main .section-right h3 {
  color: white;
  max-width: 600px;
  text-align: center;
}
.section .section-main .section-right .section-right-btn {
  margin-top: 100px;
  text-align: center;
}
.section .section-main .section-right .section-right-btn a {
  width: 200px;
}
.section .section-main .section-right .section-right-btn .btn-default {
  background-color: rgb(41, 216, 41);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.section .section-main .section-right .section-right-btn .btn-primary {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content {
  height: 350%;
  width: 100%;
}
.content .content-main .content-language {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-language img {
  width: 350px;
}
.content .content-main .content-language .content-language-text {
  width: 60%;
  margin-top: 50px;
}
.content .content-main .content-language .content-language-text h4 {
  flex: 1;
}
.content .content-main .content-language .content-language-text p {
  flex: 1;
  max-width: 750px;
}
.content .content-main h5 {
  margin-top: 50px;
  text-align: center;
}
.content .content-main .content-learn {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-learn .content-learn-text {
  max-width: 400px;
  margin-left: 60px;
}
.content .content-main .content-learn img {
  width: 300px;
}
.content .content-main .content-learn .content-learn-texts {
  max-width: 400px;
  margin-right: 60px;
}
.content .content-main .content-speed {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-speed img {
  width: 250px;
}
.content .content-main .content-speed .content-language-text {
  width: 60%;
  margin-top: 50px;
}
.content .content-main .content-speed .content-language-text h4 {
  flex: 1;
  text-align: left;
}
.content .content-main .content-speed .content-language-text p {
  flex: 1;
  max-width: 750px;
}
.content .content-main .content-speed .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}
.content .content-main .content-anywhere {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-anywhere .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-anywhere .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-anywhere img {
  width: 250px;
}
.content .content-main .content-schools {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-schools img {
  width: 300px;
}
.content .content-main .content-schools .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-schools .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-schools .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}
.content .content-main .content-test {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-test img {
  width: 300px;
}
.content .content-main .content-test .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-test .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-test .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}
.content .content-main .content-effectively {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 0.5px solid rgb(201, 198, 198);
}
.content .content-main .content-effectively img {
  width: 250px;
}
.content .content-main .content-effectively .content-language-text {
  width: 60%;
  margin-top: 50px;
  max-width: 750px;
}
.content .content-main .content-effectively .content-language-text h4 {
  margin-left: 0;
  text-align: left;
}
.content .content-main .content-effectively .content-language-text a {
  text-decoration: none;
  font-weight: 600;
}

.fooder {
  height: 100%;
  width: 100%;
  background: #272882;
}
.fooder .fooder-text {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.fooder .fooder-text p {
  color: white;
  font-size: 20px;
  margin: 10px 40px;
}
.fooder .fooder-text a {
  width: 150px;
}
.fooder .fooder-text .btn-default {
  background-color: rgb(41, 216, 41);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
}
.fooder .fooder-title {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.fooder .fooder-title .fooder-title-text {
  width: 10%;
  color: white;
}
.fooder .fooder-button {
  border-top: 0.5px solid gray;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  color: white;
  padding-top: 40px;
}
.fooder .fooder-button span {
  font-size: 18px;
}

@media screen and (max-width: 375px) {
  .wrapper .nav-links li {
    display: none;
  }
  .section .section-main {
    flex-direction: column;
    width: 100px;
  }
  .section .section-main .section-flet {
    margin-right: 50px;
    position: relative;
    top: -50px;
    left: -65px !important;
  }
  .section .section-main .section-flet .section-title {
    width: 250px;
    height: 250px;
    position: relative;
    top: -5px;
    left: 10px;
  }
  .section .section-main .section-flet .section-titles {
    width: 280px;
    height: 280px;
    margin-left: 20px;
  }
  .section .section-main .section-flet .section-img {
    width: 250px;
    height: 250px;
    margin: 45px 10px;
  }
  .section .section-main .section-flet .section-imgs {
    width: 250px;
    position: absolute;
    left: 150px;
    top: 30px;
  }
  .section .section-main .section-right {
    position: absolute;
    top: 250px !important;
    left: 80px !important;
  }
  .section .section-main .section-right h3 {
    font-size: 14px;
    width: 200px;
  }
  .section .section-main .section-right .section-right-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -70px;
  }
  .section .section-main .section-right .section-right-btn a {
    width: 200px;
    margin: 5px;
  }
  .content .content-main .content-language {
    flex-direction: column;
  }
  .content .content-main .content-language img {
    margin: auto;
  }
  .content .content-main .content-language .content-language-text {
    margin: auto;
  }
  .content .content-main .content-learn {
    flex-direction: column;
  }
  .content .content-main .content-learn .content-learn-text {
    margin: auto;
  }
  .content .content-main .content-learn img {
    margin: auto;
  }
  .content .content-main .content-learn .content-learn-texts {
    margin: auto;
  }
  .content .content-main .content-speed {
    flex-direction: column;
  }
  .content .content-main .content-speed img {
    margin: auto;
  }
  .content .content-main .content-speed .content-language-text {
    margin: auto;
  }
  .content .content-main .content-anywhere {
    flex-direction: column;
  }
  .content .content-main .content-anywhere img {
    margin: auto;
  }
  .content .content-main .content-anywhere .content-language-text {
    margin: auto;
  }
  .content .content-main .content-schools {
    flex-direction: column;
  }
  .content .content-main .content-schools img {
    margin: auto;
  }
  .content .content-main .content-schools .content-language-text {
    margin: auto;
  }
  .content .content-main .content-test {
    flex-direction: column;
  }
  .content .content-main .content-test img {
    margin: auto;
  }
  .content .content-main .content-test .content-language-text {
    margin: auto;
  }
  .content .content-main .content-effectively {
    flex-direction: column;
  }
  .content .content-main .content-effectively img {
    margin: auto;
  }
  .content .content-main .content-effectively .content-language-text {
    margin: auto;
  }
  .fooder {
    position: absolute;
    top: 2600px !important;
    height: 325% !important;
  }
  .fooder .fooder-text {
    flex-direction: column;
    text-align: center;
  }
  .fooder .fooder-text a {
    margin: auto;
  }
  .fooder .fooder-title {
    flex-direction: column;
    justify-content: center;
  }
  .fooder .fooder-title .fooder-title-text {
    width: 26%;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 740px) {
  .wrapper .nav-links li {
    display: none;
  }
  .section .section-main {
    flex-direction: column;
    width: 100px;
  }
  .section .section-main .section-flet {
    margin-right: 50px;
    position: relative;
    left: -50px;
  }
  .section .section-main .section-flet .section-title {
    width: 250px;
    height: 250px;
    position: relative;
    top: -5px;
    left: 10px;
  }
  .section .section-main .section-flet .section-titles {
    width: 280px;
    height: 280px;
    margin-left: 20px;
  }
  .section .section-main .section-flet .section-img {
    width: 250px;
    height: 250px;
    margin: 45px 10px;
  }
  .section .section-main .section-flet .section-imgs {
    width: 250px;
    position: absolute;
    left: 150px;
    top: 30px;
  }
  .section .section-main .section-right {
    position: absolute;
    top: 300px;
    left: 100px;
  }
  .section .section-main .section-right h3 {
    font-size: 14px;
    width: 200px;
  }
  .section .section-main .section-right .section-right-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -70px;
  }
  .section .section-main .section-right .section-right-btn a {
    width: 200px;
    margin: 5px;
  }
  .content .content-main .content-language {
    flex-direction: column;
  }
  .content .content-main .content-language img {
    margin: auto;
  }
  .content .content-main .content-language .content-language-text {
    margin: auto;
  }
  .content .content-main .content-learn {
    flex-direction: column;
  }
  .content .content-main .content-learn .content-learn-text {
    margin: auto;
  }
  .content .content-main .content-learn img {
    margin: auto;
  }
  .content .content-main .content-learn .content-learn-texts {
    margin: auto;
  }
  .content .content-main .content-speed {
    flex-direction: column;
  }
  .content .content-main .content-speed img {
    margin: auto;
  }
  .content .content-main .content-speed .content-language-text {
    margin: auto;
  }
  .content .content-main .content-anywhere {
    flex-direction: column;
  }
  .content .content-main .content-anywhere img {
    margin: auto;
  }
  .content .content-main .content-anywhere .content-language-text {
    margin: auto;
  }
  .content .content-main .content-schools {
    flex-direction: column;
  }
  .content .content-main .content-schools img {
    margin: auto;
  }
  .content .content-main .content-schools .content-language-text {
    margin: auto;
  }
  .content .content-main .content-test {
    flex-direction: column;
  }
  .content .content-main .content-test img {
    margin: auto;
  }
  .content .content-main .content-test .content-language-text {
    margin: auto;
  }
  .content .content-main .content-effectively {
    flex-direction: column;
  }
  .content .content-main .content-effectively img {
    margin: auto;
  }
  .content .content-main .content-effectively .content-language-text {
    margin: auto;
  }
  .fooder {
    position: relative;
    top: 2300px;
    height: 280%;
  }
  .fooder .fooder-text {
    flex-direction: column;
    text-align: center;
  }
  .fooder .fooder-text a {
    margin: auto;
  }
  .fooder .fooder-title {
    flex-direction: column;
    justify-content: center;
  }
  .fooder .fooder-title .fooder-title-text {
    width: 26%;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 740px) and (max-width: 1200px) {
  .wrapper .logo {
    position: relative;
    top: -8px;
  }
  .wrapper .logo a {
    font-size: 16px;
  }
  .wrapper .nav-links {
    position: relative;
    left: -15px;
    padding: 0 150px;
  }
  .wrapper .nav-links li a {
    font-size: 12px;
  }
  .section-main {
    flex-direction: column;
  }
  .section-main .section-flet {
    position: relative;
    left: 100px;
  }
  .section-main .section-right {
    position: relative;
    left: 60px;
    top: -50px;
  }
  .section-main .section-right h3 {
    font-size: 24px;
    margin-left: 20px;
    position: relative;
    top: -100px;
  }
  .section-main .section-right .section-right-btn {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 150px;
    top: -100px;
  }
  .section-main .section-right .section-right-btn a {
    width: 300px !important;
    height: 50px;
    margin: 10px;
  }
  .content .content-main .content-language img {
    margin: auto;
  }
  .content .content-main .content-language .content-language-text {
    margin: auto;
  }
  .content .content-main .content-learn {
    flex-direction: column;
  }
  .content .content-main .content-learn .content-learn-text {
    margin: auto;
    width: 100%;
  }
  .content .content-main .content-learn img {
    margin: auto;
  }
  .content .content-main .content-learn .content-learn-texts {
    margin: auto;
  }
  .content .content-main .content-speed img {
    margin: auto;
  }
  .content .content-main .content-speed .content-language-text {
    margin: auto;
  }
  .fooder {
    position: relative;
    top: -400px;
  }
}/*# sourceMappingURL=style.css.map */